@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  background-image: url("./assets/bg.png");
}
.header {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header_logo p {
  color: #111;
  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.header ul {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.header ul > li {
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  font-size: 20px;
}

.header > ul > li:nth-child(1) a {
  color: #fea301;
}
.header > ul > li:nth-child(2) a {
  color: #01acfd;
}

.header > ul > li:nth-child(3) a {
  color: #05d4df;
}
.header > ul > li:nth-child(4) a {
  color: #5d58ef;
}

.header button {
  background-color: #fea301;
  padding: 10px 20px;
  width: 197px;
  border-radius: 12px;
  border: none;
  height: 50px;
  color: #fff;
  font-family: Quicksand;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

.hero {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero_left h2 {
  font-family: Quicksand;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
}

.empowering {
  color: #fea301;
}
.towards {
  color: #01acfd;
}

.hero_left p {
  font-family: Quicksand;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  margin: 25px 0px;
}

.hero_left button {
  background-color: #111;
  padding: 10px 20px;
  width: 197px;
  border-radius: 12px;
  border: none;
  height: 50px;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

.curriculum {
  max-width: 80%;
  margin: 0 auto;
}

.curriculum .curriculum_title {
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  margin: 60px 0px;
}

.curriculum_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.curriculum > .curriculum_card > .curriculum_single_card {
  padding: 52.819px 40.668px 53.762px 40.878px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.943px solid #def5ff;
  gap: 32.069px;
  border-radius: 18.864px;
  color: #202020;
  text-align: center;
  font-family: Quicksand;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30.654px;
}

.card_one {
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.card_two {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.card_three {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 60px 0px;
}

.slide button {
  padding: 17px 2px 14px 0px;
  border-radius: 30px;
  background: var(--Orange, #fea301);
  border: none;
  color: #fff;
  width: 4rem;
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}

.stories {
  max-width: 80%;
  margin: 0 auto;
}

.stories .stories_title {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.5px; 
}
