@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header_logo p {
  color: #111;
  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.header ul {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.header ul > li {
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  font-size: 20px;
}

.header > ul > li:nth-child(1) a {
  color: #fea301;
}
.header > ul > li:nth-child(2) a {
  color: #01acfd;
}

.header > ul > li:nth-child(3) a {
  color: #05d4df;
}
.header > ul > li:nth-child(4) a {
  color: #5d58ef;
}

.header button {
  background-color: #fea301;
  padding: 10px 20px;
  width: 197px;
  border-radius: 12px;
  border: none;
  height: 50px;
  color: #fff;
  font-family: Quicksand;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

.hero {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero_left h2 {
  font-family: Quicksand;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
}

.empowering {
  color: #fea301;
}
.towards {
  color: #01acfd;
}

.hero_left p {
  font-family: Quicksand;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  margin: 25px 0px;
}

.hero_left button {
  background-color: #111;
  padding: 10px 20px;
  width: 197px;
  border-radius: 12px;
  border: none;
  height: 50px;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

.curriculum {
  max-width: 80%;
  margin: 0 auto;
  background: url("./assets/bg.png");
  background: lightgray 0% 0% / 100px 100px repeat,
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background-position-y: 50px;
  background-repeat: no-repeat;
}

.curriculum .curriculum_title {
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  margin: 60px 0px;
}

.curriculum_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.curriculum > .curriculum_card > .curriculum_single_card {
  padding: 52.819px 40.668px 53.762px 40.878px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.943px solid #def5ff;
  gap: 32.069px;
  border-radius: 18.864px;
  color: #202020;
  text-align: center;
  font-family: Quicksand;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30.654px;
}

.card_one {
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.card_two {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.card_three {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 60px 0px;
}

.slide button {
  padding: 17px 2px 14px 0px;
  border-radius: 30px;
  background: var(--Orange, #fea301);
  border: none;
  color: #fff;
  width: 4rem;
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}

.stories {
  margin: 0 auto;
  background-image: url("./assets/bg.png"),
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background-size: 100px 100px, cover;
  background-position: center 50px, center;
  background-repeat: repeat, no-repeat;
}

.grid-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.left-column {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.right-column {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.featured-card {
  height: 97%;
}

.image-container {
  position: relative;
  width: 100%;
}

.featured-card .image-container {
  height: 400px;
}

.card:not(.featured-card) .image-container {
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date-badge {
  position: absolute;
  bottom: -25px;
  left: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.761px; /* 187.5% */
  text-transform: capitalize;
}

.stories .stories_card_one {
  background-color: #3cd8e8;
  border-radius: 47.934px;
  padding: 14.38px 18.876px 15.339px 19.174px;
}
.stories .stories_card_two {
  border-radius: 47.934px;
  background: #95b226;
  padding: 14.38px 18.876px 15.339px 19.174px;
}
.stories .stories_card_three {
  border-radius: 47.934px;
  background: #5d58f0;
  padding: 14.38px 18.876px 15.339px 19.174px;
}
.stories .stories_card_four {
  border-radius: 47.934px;
  background: #95b226;
  padding: 14.38px 18.876px 15.339px 19.174px;
}
.stories .stories_card_five {
  border-radius: 47.934px;
  background: #95b226;
  padding: 14.38px 18.876px 15.339px 19.174px;
}
.card-content {
  padding: 24px;
}

.featured-card .card-content {
  padding: 32px;
}

.card h2 {
  font-size: 18px;
  color: #333;
  margin-top: 15px;
}

.featured-card h2 {
  font-size: 24px;
}

.card p {
  color: #666;
  line-height: 1.5;
}

.view_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.view_button button {
  color: #fff;
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  background: #111;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
footer {
  height: 100vh;
  background: #01acfd;
}
.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_conten_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
